.throtted{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", serif;
  font-weight: 300;
  font-style: normal;
}
.bulb{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.buttonsbulb{
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sensor-data{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.onbutton{
  border-radius: 10px;
  background-color:blue;
  height: 40px;
}

.offbutton{
  border-radius: 10px;
  background-color: red;
  height: 40px;
}

.Bulbstate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.offmode{
border-radius: 300px;
background-color: red;
width: 350px;
padding-left: 20px;
}
.onmode{
  border-radius: 300px;
  background-color: blue;
  width: 350px;
  padding-left: 20px;
}
.voltsamps{
  padding-left: 30px;
}